<div class = "boardnav">

<a href="/posts"><img src ="https://user-images.githubusercontent.com/31411284/71394774-657daf00-2656-11ea-8ee6-c1ddb75da570.png" alt ="board">

</a>
</div>

<div class = "CV">
<a href="/about"> 
    <div class = "rotate">   
<img src="https://user-images.githubusercontent.com/31411284/61334335-e85b3c00-a864-11e9-9837-5d6e0872781a.jpg" alt="thirdwork" width="200" height="200"></img>
</div>
</a>
</div>  
