<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400143-34f34080-2669-11ea-9d27-cd2cf3fc0b3f.png" alt="dog1"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
          Dog
      </div>
      <div class="work1 caption-back">
        2015. pig skin, 30 x 45 x 58cm
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>
