<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400148-36246d80-2669-11ea-850d-35df27026e84.png" alt="diywave"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        DIY Wave
      </div>
      <div class="work1 caption-back">
       2018. video clip,05:38mins
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>