<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400164-37ee3100-2669-11ea-8987-2a5c3fb60ea7.png" alt="atthesource"></img>
      <img src ="https://user-images.githubusercontent.com/31411284/71400163-37ee3100-2669-11ea-9312-c216d1e07a66.png" alt="atthesource"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        At the Source
      </div>
      <div class="work1 caption-back">
        2018. steel, adhesive sheet, mirror paper, wood, polyester, video projection. dimensions variable, 04:00mins
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>