<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400150-36246d80-2669-11ea-98bd-2fe616c61e67.png" alt="anesthesia"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Anesthesia
      </div>
      <div class="work1 caption-back">
        2018.silicone,medical hose,needle,suture.
        dimensions variable
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>