<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400147-358bd700-2669-11ea-86af-9b85176f835f.png" alt="navelgazing"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Navel Gazing
      </div>
      <div class="work1 caption-back">
        2018. silicone, steel, suture, medical hose, hair.
        dimensions variable
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>