<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400153-36bd0400-2669-11ea-9c98-f6279b6defc6.png" alt="Budandseed"></img>
      <img src ="https://user-images.githubusercontent.com/31411284/71400152-36246d80-2669-11ea-8a6d-60ff39ea3de2.png" alt="bud"></img>
      <img src ="https://user-images.githubusercontent.com/31411284/71400158-37559a80-2669-11ea-9c0b-756faba5b3e4.png" alt="seed"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Bud
      </div>
      <div class="work1 caption-back">
        2019. cigarette pack, silicone, ribbon, lace, eyelet. dimensions variable (left)
      </div>
      <div class="work1 caption-name">
        Seed
      </div>
      <div class="work1 caption-back">
        2019. cigarette pack, silicone, ribbon, lace, eyelet. dimensions variable (right)
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>