<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400159-37559a80-2669-11ea-807a-fe86b435e721.png" alt="us"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Us
      </div>
      <div class="work1 caption-back">
        2019. silicone, steel, wig, eyelet, clay, resin, hook, watercolor, acrylic color.
        dimensions variable
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>