<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400149-36246d80-2669-11ea-9b5e-fc2e009c831d.png" alt="loremipsumfriend"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Lorem Ipsum Friends
      </div>
      <div class="work1 caption-back">
        2019. silicone, steel, video projection. Dimensions variable, 08:00mins
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>