<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400157-37559a80-2669-11ea-88d5-862f0aff80ee.png" alt="mimesis"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        www.shutterstock.compic.mhtmlid=526685350
      </div>
      <div class="work1 caption-back">
        2016. oil on canvas, 92 x 92 cm
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>