<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400144-34f34080-2669-11ea-8464-805528b6a3b1.png" alt="spammer"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Spammer
      </div>
      <div class="work1 caption-back">
        2017. acrylic on canvas, 160 x 145 cm
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>