<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400160-37559a80-2669-11ea-917c-d2e8a314d56f.png" alt="attatchdoll"></img>
      <img src ="https://user-images.githubusercontent.com/31411284/71400161-37ee3100-2669-11ea-82c7-94317c6d48e2.png" alt="attatchdoll"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Attachment Doll
      </div>
      <div class="work1 caption-back">
        2018. cotton, spandex, wig, faux eyelashes, clay. 50 x 150 x 20 cm
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>