<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400155-36bd0400-2669-11ea-91d2-e50f09fa4cea.png" alt="runtime"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Running Out of Time
      </div>
      <div class="work1 caption-back">
        2018. epoxy, hair, pumice stone, furniture frame. Dimensions variable
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>