<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400156-36bd0400-2669-11ea-9f29-d3ca1812b62c.png" alt="dreamegg"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Dream Egg
      </div>
      <div class="work1 caption-back">
        2018. chain, hair, clay, cotton, dimensions variable
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>