<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="work" style=" cursor: pointer;" onclick="location.href='/works';" >
      <div class="pf">
      <img src ="https://user-images.githubusercontent.com/31411284/71400165-3886c780-2669-11ea-890b-7620b3f6daca.png" alt="Imagetuck"></img>
      <p>      </p>
      <p></p>
      <div class="work1 caption-name">
        Image Tuck
      </div>
      <div class="work1 caption-back">
        2018. backlit paper, light panel, silicone, dimensions variable
      </div>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <p></p><p></p><p></p><p></p><p></p>
    </div>
      
    </div>
  </body>
</html>