<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav2 %>
    <div class="img1" style=" cursor: pointer;" onclick="location.href='/works';" >
    <div class="content">
      <div class = "ho1 ho">Höeriän Blütreich Höeriän Blütreich</div>
      <div class = "ho2 ho">Höeriän Blütreich Höeriän Blütreich</div>
      <div class = "ho3 ho">Höeriän Blütreich Höeriän Blütreich</div>
      <div class = "ho4 ho">Höeriän Blütreich Höeriän Blütreich</div>
      <div class = "ho5 ho">Höeriän Blütreich Höeriän Blütreich</div>
      <div class = "ho6 ho">Höeriän Blütreich Höeriän Blütreich</div>
      <div class = "ho7 ho">Höeriän Blütreich Höeriän Blütreich</div>
    </div>
  </div>
  </body>
</html>
